  *{
    box-sizing: border-box;
  }
  body{
    margin:0;
    background-image: url('../images/calculator-bg.jpg');
    background-size:cover;
  }
  header nav{
    z-index: 999;
  }
  .header{
    height:100px;
  }
   .bg{
     background:#dc3545;
   }
  .converto{
    margin:auto;
  }
  .calculator-icon{
    background-image: url('../images/calculator-icon.png');
    float:left;
    width:50px;
    height:50px;
    background-repeat:no-repeat;
  }
  .calculator-name{
    float:right;
    font-size: 37px;
    color:#ffff;
    font-family: 'Chela One', cursive;
  }
    .frontend-navbar{
      height:100px;
    }
    .frontend-nav-link{
      padding-right: 3.5rem !important;
      padding-left: 3.5rem !important;
      color: #ffffff!important;
      font-size: 18px;
      text-align: center;
    }
    .frontend-nav-link:hover{
      color: black !important;
    }
    .navbar-nav{
      height: 100px;
      float:right;
      position: relative;
    }
    .frontend-nav-item{
      height: 100%;
      position: relative;
      line-height: 87px;
    }
  .navbar-content{
  }
  .nav_item{
    margin:10px;
  }
  .background-container{

  }
