*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-image: url('../images/calculator-bg.jpg');
  background-size: cover;
}
header nav{
  z-index: 999;
}
.header{
  height:100px;
}
 .bg{
   background:#dc3545;
 }
.converto{
  margin:auto;
}
.calculator-icon{
  float:left;
  width:50px;
  height:50px;
}
.calculator-name{
  float:right;
  font-size: 37px;
  color:#ffff;
  font-family: 'Chela One', cursive;
}
  .frontend-navbar{
    height:100px;
  }
  .frontend-nav-link{
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    color: #ffffff!important;
    font-size: 18px;
    text-align: center;
  }
  .frontend-nav-link:hover{
    color: black !important;
  }
  .navbar-nav{
    height: 100px;
    float:right;
    position: relative;
  }
  .frontend-nav-item{
    height: 100%;
    position: relative;
    line-height: 87px;
  }
.navbar-content{
}
.nav_item{
  margin:10px;
}
.background-container{
  background: rgba(198, 150, 150, 0.5);
}
.calculator-container{
  padding:100px;
}
.table-container{
  width:80%;
  margin:auto;
  border-radius: 40px;
  overflow:hidden;
}
.thead-row{
  background: #000000;
  height:150px;
  font-size:60px;
  color: #ffff;
}
.table-row{
  height:50px;
  text-align:center;
  font-size: 40px;
}
.number_button{
  background: #ffff;
  border:1px solid #cccccc;
  width : 170px !important ;
}
.clear_button{
  width : 170px !important ;
  background: #ffff;
  border:1px solid #cccccc;
}
.oper_button{
  width : 170px !important ;
  background:#eeeeee;
  border:1px solid #cccccc;
}
.result_button{
  line-height:297px;
  background:#ff850b;
  border:1px solid #eeeeee;
}
